<div class="card">
    <div class="card-header">
        <h3>{{title}}</h3>
        <a href="#" class="btn btn-primary">Save this article</a>

    </div>
    <div class="card-body">
        <p class="card-text">{{link}}</p>
    </div>
</div>