<!DOCTYPE html>
<html lang="en">

<head>
    <title>News Scraper</title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>
    {{!-- NavBar  --}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">News Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Saved Article</a>
                </li>
            </ul>

            <button class="btn btn-outline-success my-2 mx-1 my-md-0 my-sm-0 p2" type="submit">Scrape New
                Articles!</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Clear Articles!</button>
        </div>
    </nav>
    <div class="jumbotron text-center">
        <h2>Seattle Times Edition</h2>

    </div>
    {{{ body }}}

    {{!-- Add in jQuery --}}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/script.js"></script>
</body>

</html>